<div class="container">
  <h2><a style="cursor: pointer" class="text-primary" (click)="onSelectCircuit(race.circuitId)">{{race.circuitName}}</a></h2>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Place</th>
        <th scope="col">DriverId</th>
        <th scope="col">Points</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let position of race.positions">
        <th scope="row">{{position.rank}}</th>
        <td><a style="cursor: pointer" class="text-primary" (click)="onSelectDriver(position.driverId)">{{position.driverName}}</a></td>
        <td>{{position.points}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
