<body>
  <div class="header">
    <h1> {{ title }}</h1>
  </div>

  <nav>
    <div class="btn-toolbar">
      <div class="btn-group">
        <button routerLink="/driver-statistics" type="button" class="btn btn-large btn-primary">Driver standings</button>
        <button routerLink="/team-statistics" type="button" class="btn btn-large btn-primary">Team standings</button>
        <button routerLink="/teams" type="button" class="btn btn-large btn-primary">Teams</button>
        <button routerLink="/drivers" type="button" class="btn btn-large btn-primary">Drivers</button>
        <button routerLink="/circuits" type="button" class="btn btn-large btn-primary">Circuits</button>
        <button routerLink="/calendars" type="button" class="btn btn-large btn-primary">Calendars</button>
      </div>
    </div>

  </nav>

  <router-outlet></router-outlet>
</body>








